<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString="Data Source=2122chapeau.database.windows.net;
         Initial Catalog=db_IT1a5; User=group_IT1a5; Password=Wl3-m7@?vLgU"/>
	</connectionStrings>
</configuration>